<div class="site-section py-0">
    <div class="owl-carousel hero-slide owl-style">
        <% if(articles && articles.status === "ok") { %>
            <% articles.articles.forEach(function(article, index) { %>
                <% if (index < 3) { %>
                    <div class="site-section">
                        <div class="container">
                            <div class="half-post-entry d-block d-lg-flex bg-light">
                                <div class="img-bg" style="background-image: url('<%= article.urlToImage %>')"></div>
                                <div class="contents">
                                    <span class="caption"><%= article.caption %></span>
                                    <h2>
                                        <a href="<%= article.url %>">
                                            <%= article.title %>
                                        </a>
                                    </h2>
                                    <p class="mb-3">
                                        <%= article.description %>
                                    </p>
                                    <div class="post-meta">
                                        <span class="d-block"><a href="#"><%= article.author %></a> in <a href="#"><%= article.category %></a></span>
                                        <span class="date-read"><%= article.date %> <span class="mx-1">&bullet;</span>
                                        <%= article.timeToRead %> min read <span class="icon-star2"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% }); %>
                            <% } %>
    </div>
</div>